.rodape-card{
    color: #fff;
    height: 35px;
}

.btn-detalhes{
    background-color: #111;
    color: #fff;
    height: 40px;
    width: 130px;
    font-size: 20px;
    text-transform: uppercase;
}

.btn-detalhes:hover{
    background-color: #fbc514;
    color: #111;
}

.card-text{
    max-height: 70px;
    min-height: 70px;
    overflow: hidden;
}

.img-cartao{
    height: 190px;
    min-width: 100%;
}

.container h5, p {
    color: #fff !important;
}