.rodape-card{
    color: #fff;
    height: 35px;
}

.btn-detalhes{
    background-color: #111;
    color: #fff;
    height: 40px;
    width: 100px;
    font-size: 15px;
    text-transform: uppercase;
}

.btn-detalhesAposta{
    background-color: #111;
    color: #fff;
    height: 40px;
    width: 150px;
    font-size: 15px;
    text-transform: uppercase;
}

.btn-detalhes:hover{
    background-color: #fbc514;
    color: #111;
}

.card-text{
    max-height: 70px;
    min-height: 70px;
    overflow: hidden;
}

.img-cartao{
    height: 190px;
    min-width: 100%;
}

.container h5, p {
    color: #111 !important;
    font-size: 15px;
}

#btn_buy{
    /* margin-right: 5px; */
    color: #fff !important;
    list-style: none;
    text-decoration: none;
}

#btn_buy:hover {
    color: #111 !important;
}